.jlw-project {
    border: 1px solid $black;
    margin: 16px;
    position: relative;

    img {
        z-index: 0;
    }

    .jlw-project-overlay {
        position: absolute;
        @extend .jlw-colorProfile2;
        z-index: -1;
        opacity: 0.9;
        top: 0;
        left: 0;

        div:first-child {
            margin: 36px 0 16px 0;
            font-size: 30px;
            text-align: center;
        }

        div:last-child {
            width: 72px;
            margin: 0 auto;
            img {
                height: 72px;
                width: 72px;
            }
        }
    }
}

.jlw-project:hover {
    cursor: pointer;

    .jlw-project-overlay {
        z-index: 1;
    }
}
