$red: #a63446;
$pale-red: #a63446;
$grey: #6d6466;
$off-white-dark: #ffe8d1;
$off-white-light: #e6dbd0;
$black: #4e3d42;

.jlw-colorProfile1 {
  background-color: $red;
  color: $off-white-dark;
  a {
    color: $off-white-light;
  }
}

.jlw-colorProfile1-pale {
  background-color: $pale-red;
  color: $off-white-light;
}

.jlw-colorProfile3 {
  background-color: $off-white-light;
  color: $red;
  a {
    color: $grey;
  }
}

$something: #229e85;
$hidden: #18bc9c;
