$red: #ff3b3f;
$pale-red: #ff9d9f;
$grey: #a9a9a9;
$off-white-dark: #caebf2;
$off-white-light: #efefef;
$black: #021a40;

.jlw-colorProfile1 {
  background-color: $red;
  color: $off-white-dark;
  a {
    color: $off-white-light;
  }
}

.jlw-colorProfile1-pale {
  background-color: $pale-red;
  color: $off-white-light;
}

.jlw-colorProfile2 {
  background-color: $grey;
  color: $off-white-dark;
  a {
    color: $red;
  }
}

.jlw-colorProfile3 {
  background-color: $off-white-light;
  color: $red;
  a {
    color: $grey;
  }
}

$something: #229e85;
$hidden: #18bc9c;
