@import 'app/main';
@import 'app/colors';

/* common */
@import 'app/common/section/section';

/* components */
@import 'app/navbar/navbar';

@import 'app/about/about';

@import 'app/projects/projects';
@import 'app/projects/project/project';
@import 'app/modal/modal';

@import 'app/other/other';

@import 'app/contact/contact';

@import 'app/title/title';

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?37191581');
  src: url('./font/fontello.eot?37191581#iefix') format('embedded-opentype'),
    url('./font/fontello.woff?37191581') format('woff'),
    url('./font/fontello.ttf?37191581') format('truetype'),
    url('./font/fontello.svg?37191581#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.jlw-icons {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
