<!doctype html>
<html lang="en">
    <head>
        <title>Joseph Weidinger</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="favicon.ico">        
        <%= htmlWebpackPlugin.options.style %>
    </head>
    <body>
        <div id="app">Loading...</div>
        <%= htmlWebpackPlugin.options.bundle %>
    </body>
</html>
