.jlw-section {
    padding: 44px 24px;

    h1 {
        padding: 0;
        font-size: 4.75em;
        text-align: center;
        margin: 0;
        font-weight: 700;
    }

}

@media screen and (max-width: 820px) {
    .jlw-section h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 650px) {
    .jlw-section {
        padding: 44px 8px;
    }
}